* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sec1 {
  background: url(../../src/img/Fondo\ de\ pantala.png);
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 100vh;
}

.sec2 {
  background: url(../../src/img/exitobk.png);
  background-position: bottom center;
  background-size: cover;
}

header {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 1920px) {
  .sec2 {
    background: url(../../src/img/exitobk.png);
    background-size: cover;
  }
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

h1 {
  color: #FFFFFF;
}

h2 {
  color: #000000;
}

.tituloResalte {
  color: #D1A103;
}

.sec2-Titulo {
  color: #FFFFFF;
}

.sec2_tituloResalte {
  color: #D1A103;
}

p {
  color: #FFFFFF;
}

.tituloServicios {
  color: #FFFFFF;
}

.parrafoCard {
  color: #000000;
}

.parrafoCard2 {
  color: #000000;
}

.parrafoInicial {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 15px;
  text-align: left;
}

.tituloEstandar {
  padding-left: 12px;
}

.tituloEstandar1 {
  padding-top: 25px;
  padding-left: 12px;
}

.tituloResalte {
  padding-left: 12px;
}

.sec2-Titulo {
  text-align: center;
}

.sec2_tituloResalte {
  text-align: center;
}

.ContactosInv {
  color: black;
}

.contactosDatos {
  text-decoration: underline;
  color: black;
  padding-bottom: 40px;
  font-weight: 400;
}

.contentServicios {
  text-align: center;
}

.tituloServicios {
  font-size: 32px;
  text-align: center;
  padding: 30px;
}

.parrafoServicios {
  text-align: justify;
  padding: 20px;
}

.parrafoCasos {
  padding: 50px;
  font-weight: 300;
  text-align: justify;
}

.casosExito {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  padding-top: 40px;
  font-weight: 400;
  text-align: center;
}

@media only screen and (max-width: 320px) {
  .contactosDatos {
    font-size: 20px;
  }
}
.logo-b {
  width: 15%;
  padding-top: 5px;
  padding-left: 15px;
}

.logo-Nombre {
  width: 12%;
  transform: translateY(-7px);
}

.imgContacto {
  padding-top: 40px;
  width: 20%;
}

.imgFooter {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .logo-b {
    width: 10%;
    padding-top: 5px;
    padding-left: 15px;
  }
  .logo-Nombre {
    width: 9%;
    transform: translateY(-7px);
  }
  .imgContacto {
    padding-top: 40px;
    width: 10%;
  }
}
@media only screen and (max-width: 1024px) {
  .logo-b {
    width: 7%;
    padding-top: 5px;
    padding-left: 15px;
  }
  .logo-Nombre {
    width: 7%;
    transform: translateY(-7px);
  }
  .imgContacto {
    padding-top: 40px;
    width: 10%;
  }
}
@media only screen and (max-width: 1920px) {
  .logo-b {
    width: 4%;
    padding-top: 5px;
    padding-left: 15px;
  }
  .logo-Nombre {
    width: 4%;
    transform: translateY(-7px);
  }
  .imgContacto {
    padding-top: 40px;
    width: 5%;
  }
}
.boton-llamada {
  display: block; /* Para centrarlo horizontalmente */
  padding: 20px 20px;
  background-color: #ffffff; /* Azul */
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  width: 70%;
  margin-top: 60px;
  margin-left: 15px;
}

.boton-llamada:hover {
  background-color: #000000;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.ContactosInv {
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .boton-llamada {
    width: 40%;
  }
}
@media only screen and (max-width: 1920px) {
  .boton-llamada {
    width: 40%;
  }
}
.contentServicios {
  background-color: #212A3E;
}

.cards-section {
  text-align: center;
  padding: 50px;
}

.servicio-card {
  background-color: #394867;
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
}

.servicio-card p {
  text-align: justify;
}

@media only screen and (max-width: 1920px) {
  .cards-section {
    padding-left: 800px;
    padding-right: 800px;
  }
}
.containerContactos {
  text-align: center;
}

.containerExito {
  text-align: justify;
}

.tituloCard {
  font-size: 32px;
  padding-top: 20px;
  padding-left: 28px;
}

.parrafoCard {
  font-style: italic;
  width: 70%;
  padding-top: 19px;
  padding-left: 19px;
}

.parrafoCard2 {
  font-style: italic;
  width: 70%;
  padding-top: 19px;
  padding-left: 19px;
}

.footer1 {
  background-color: #033153;
  text-align: center;
  padding: 10px;
}

.footer2 {
  background-color: #0A1331;
  text-align: center;
}

.nombreFooter {
  padding-left: 40px;
  padding-right: 40px;
}

.enlacesFooter {
  color: azure;
}

.enlacesFooter a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */