.containerExito{
    text-align: justify;
}

.tituloCard{
    font-size: 32px;
    padding-top: 20px;
    padding-left: 28px;

}

.parrafoCard{
    font-style: italic;
    width: 70%;
    padding-top: 19px;
    padding-left: 19px;
}

.parrafoCard2{
    font-style: italic;
    width: 70%;
    padding-top: 19px;
    padding-left: 19px;
}