.logo-b{
    width: 15%;
    padding-top: 5px;
    padding-left: 15px;
}

.logo-Nombre {
    width: 12%;
    transform: translateY(-7px);
}


.imgContacto{
    padding-top: 40px;
    width: 20%;
}

.imgFooter{
    padding: 10px;
}