.parrafoInicial {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 15px;
    text-align: left;
}

.tituloEstandar{
    padding-left: 12px;
}
.tituloEstandar1{
    padding-top: 25px;
    padding-left: 12px;
}

.tituloResalte{
    padding-left: 12px;
}

.sec2-Titulo{
    text-align: center;
}

.sec2_tituloResalte{
    text-align: center;
}


.ContactosInv{
    color: black;
}

.contactosDatos{
    text-decoration: underline;
    color: black;
    padding-bottom: 40px;
    font-weight: 400;
}