@import "colors";

h1 {
    color: $colorPrincipal;
}

h2{
    color: $colorExito;
}

.tituloResalte{
    color: $colorResalte;
}

.sec2-Titulo{
    color: $colorPrincipal;
}

.sec2_tituloResalte{
    color: $colorResalte;
}

p {
    color: $colorPrincipal;
}

.tituloServicios {
    color: $colorPrincipal;
}

.parrafoCard{
    color: $colorExito;
}

.parrafoCard2 {
    color: $colorExito;
}